<style type="text/css">
  .jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;
  }

</style>

<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Voucher</h1>
</div>
<!-- <ul>
  <a href="../voucher/voucher.component.html">Voucher</a>
  <a href="../promotion/promotion.component.html">Promotion</a>
</ul> -->
<div class="row">
  <div class="col-md-6">
    <app-voucher-form></app-voucher-form>
  </div>
  <div class="col-md-6">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pd of service.list">
          <td (click)="populateForm(pd)">{{pd.voucherName}}</td>
          <td (click)="populateForm(pd)">{{pd.voucherCode}}</td>
          <td (click)="populateForm(pd)">{{pd.voucherAmount}}</td>
          <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.voucherId)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
